# agent
aiomysql
asyncpg
readability-lxml # 需要代理
trafilatura
bs4
newspaper3k
gne
colorlog
aiohttp
openai
simhash
pydantic
PyYAML
sqlalchemy
mysql-connector-python
numpy==1.26.4
matplotlib
nest_asyncio
pytest-asyncio
pytest
python-docx
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-retrievers-bm25
huggingface-hub
alibabacloud_iqs20240712==6.0.0
pypdf
rank_bm25
jieba
psutil
rich

chainlit


fastapi 
uvicorn

azure-storage-file-datalake
azure-storage-blob
azure-identity
torchaudio>=2.6.0
modelscope